<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/style.css" />
    <title>City Wheels Driving School</title>
  </head>
  <body>
    <div class="container">
      <%- include('./partials/_header.ejs') %>

      <main>
        <div class="profile-container" id="printProfile">
          <div class="reg-heading">
              <img src="/public/images/logo2.png" alt="" width="110px" height="100px">
              <h1 class="reg-title">City Wheels Driving School</h1>
          </div>
          <div class="image-container">
              <img src="/<%= student.avatar %>" alt="">
          </div>
          <div class="student-info">
              <h1>Student's Details</h1>
              <p>Full-Name: <span><%= student.firstName%> <%= student.lastName%></span></p>
              <p>Gender: <span><%= student.gender%></span></p>
              <p>State: <span><%= student.state %></span></p>
              <p>Date of Birth: <span><%= student.date.toLocaleDateString() %></span></p>
              <p>Phone Number: <span><%= student.phone %></span></p>
              <p>Email: <span><%= student.email %></span></p>
              <p>Address: <span><%= student.address %></span></p>
          </div>
          <div class="other-info">
              <h1>Registration Details</h1>
              <p>Registration ID: <span><%= student.id.slice(0, 8)%></span></p>
              <p>Registration Date: <span><%= student.createdAt.toLocaleDateString()%></span></p>
              <p>Training Type: <span><%= student.traininType%></span></p>
              <p>Training Category: <span><%= student.trainingCategory.charAt(0).toUpperCase()%><%=student.trainingCategory.slice(1) %></span></p>
              <p>Training Duration: <span><%= student.duration  %></span></p>
              <p>Amount: &#8358<span><%= student.amount%></span></p>
          </div>
      </div>
      <div class="pdfButton">
          <button type="button" id="printPdf">Print PDF</button>
      </div>
      </main>
      <div class="watermark">
        <img src="/public/images/logo2.png" alt="City Wheels watermark" />
      </div>
    </div>

    <script>
      const print = document.getElementById('printPdf');
      print.addEventListener('click', ()=> {
        window.print()
      })
    </script>
  </body>
</html>
